*{
    margin: 0 auto;
}
/*Section one*/
.search-section{
    background-image: url("img/travel.svg");
    background-repeat:no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 820px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    font-family: 'Josefin Sans', sans-serif;
}
a{
    text-decoration-line: none;
    color: #FFF;
}
.icon-nav{
    cursor: pointer;
    display: none;
    padding: 5px 10px 5px 10px;
}
.icon-nav i{
    font-size: 42px;
}

h1{
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 26px; /* 54.167% */
    letter-spacing: 4.8px;
    text-transform: uppercase;
}
.motto{
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px; /* 118.182% */
    letter-spacing: 6.82px;
    gap: 10px;
}
form{
    padding-top: 70px;
    align-items: center;
}
input{
    min-width: 503px;
    height: 63px;
    color: #999;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.8px;
}
.button-search{
    min-width: 153px;
    height: 63px;
    background-color: #5474FD;
    border: white solid 10px 10px 10px 30px;
}
.scroll{
    display: flex;
    flex-direction: column;
    margin-top: 140px;
}
/* header */
.header-items{
    color: #FFF;
    font-family: 'Aleo', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
    text-transform: uppercase;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 600px;
}
header{
    background-color: #5474FD;
    display: flex;
    justify-content: space-between;
    min-height: 83px;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    color: #FFF;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px; /* 108.333% */
    letter-spacing: 2.4px;
    text-transform: uppercase;
 }
 @media screen and (max-width: 900px){
   header{
    display: flex;
    flex-direction: column;
   }
 }
 /* section two */
 .choose-us{
    background-image: url("img/castel.svg");
    width: 100%;
    height: 685px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    color: #FFF;
    line-height: 26px; 
    font-weight: 400;
 }
 .choose-img{
    display: flex;
    gap: 10px;
    flex-direction:column ;
 }
 .why-us{
    display: flex;
    gap: 10px;
    flex-direction: column;
 }
 .choose-us img{
    width: 350px;
    height: 220px;
 }
 .choose-us img:nth-of-type(1){
    left:20px;
 }
.choose-us h2{
    font-family: 'Aleo', sans-serif;
    font-size: 36px;
    margin-left: 0;
}
.choose-us p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 1.6px;
    width: 520px;
}
.explore{
    width: 228px;
    height: 63px;
    background-color: #5474FD;
    margin-left: 0;
    border: none;
}
/* section 3 */
.design{
    background: #333;
    min-height: 340px;
    display: flex;
    flex-wrap: wrap;
}
.center{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 1150px;
}
.text-design{
    color: #E8E8E8;
    text-align: center;
    font-family: 'Aleo', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 90px;
}
.design img:nth-of-type(1){
    max-width: 760px;
}
.center img{
    width: 60px;
    height: 59px
}
.flex{
    display: flex;
    flex-direction: column;
}
/* section four */
.house-background{
    background-image: url("img/house.svg");
    height: 700px;
    display: flex;
    align-items: center;
}
.style{
    width: 450px;
    opacity: 0.9;
    background: #232323;
    display: flex;
    flex-direction: column;
    padding: 20px 10px 20px 10px;
    gap: 5px;
}
.text-spain{
    margin-left: 0;
}
.button-spain{
    margin-top: 30px;
    margin-left: 0;
    width: 228px;
    height: 63px;
    background-color: #5474FD;
    border: none;
}
/* section five */
.mountain-background{
    background-image: url("img/sea.svg");
    height: 700px;
    display: flex;
    align-items: center;
}
.text-spain{
    color: #E8E8E8;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.mountain-background p:nth-of-type(2),
.house-background p:nth-of-type(2){
    color: #FFF;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
}
.mountain-background p:nth-of-type(3),
.house-background p:nth-of-type(3){
    color: #E8E8E8;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
/* section six */
.tourist-background{
    background-image: url(img/man.svg);
    height: 731px;
    
}
.tourist-background h2{
    color: #FFF;
    text-align: center;
    font-family: 'Aleo', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 250px; /* 72.222% */
}
.flex-tourist{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.tourist-text{
    width: 650px;
    opacity: 0.9;
    background: #232323;
    display: flex;
    flex-direction: column;
    padding: 20px 10px 20px 10px;
    gap: 5px;
    color: #E8E8E8;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    line-height: 26px;
}
.tourist-text p{
    font-size: 16px;
}
.tourist-text h5{
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 0;
}
/* footer */
footer{
    height: 271px;
    background:#333 ;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: #FFF;
    line-height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 7px;
}
.logo-footer{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 3.36px;
    text-transform: uppercase;
}
.motto-footer{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.6px;
}
.icon{
    display:flex;
    justify-content: space-between;
    width: 280px;
}
@media (max-width: 600px) {
    .center {
        flex-direction: row;
    }
    .center > div {
        margin: 10px;
    }
}
